.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    margin: 0 130px;
}
/* nav section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    color: #006A50;
    font-weight: 600px;
    border: 2px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px ;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: aqua;
}
/* banner section styles */
.banner{
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #C6E4D6;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 80px;
}
.banner-subtitle{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 400;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn-primary{
    background-color: #006A50;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
}
.btn-primary:hover{
    cursor: pointer;
}
/* Pillars section styles */
.paillers{
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}
.pailler-title{
    font-size: 20px;
    font-weight: bold;
}
.pailler-description{
    color: rgba(14, 14, 14, 0.7);
    text-align: l;
}
.pailler{
    padding: 20px;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 2px 2px gray;
}
.pillars-title{
    font-size: 40px;
    font-weight: bold;
}
/* vision section styles */
.vision-futures{
    margin-bottom: 80px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
}
.futures{
    margin-bottom: 80px;
    display: flex;
    gap: 20px;
}
.future{
    padding: 30px;
    border-radius: 15px;
}
.future-title{
    font-size: 20px;
    font-weight: bold;
}
.future-description{
    color: rgba(14, 14, 14, 0.7);
}
#part-1{
    background-color: rgba(84, 144, 245, 0.2);
}
#part-2{
    background-color: #C6E4D6;
}
#part-3{
    background-color: #F7EBCF;
}
.btn-1{
    background-color: #5490F5;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
}
.btn-1, .btn-2, .btn-3:hover{
    cursor: pointer;
}
.btn-2{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #09A15C;
}
.btn-3{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
}
.president{
    padding: 20px 45px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-origin: content-box, padding-box;
}
.president-name{
    font-weight: 600px;
    font-size: 20px;
    margin: 0;
}
.president-title{
    margin: 0;
    color: rgba(14, 14, 14, 0.6);
}
/* news section styles */
.news-title{
    font-size: 40px;
    font-weight: bold;
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
}
.satelight{
    display: flex;
    gap: 30px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 45px;
    border-radius: 20px;
    margin-bottom: 80px;
}
.satelight-img img{
    border-radius: 20px;
}
.satelite-btn{
    background-color: #006A50;
    padding: 15px 30px;
    color:white;
    border-radius: 8px;
    border: none;
}
.satelite-btn:hover{
    cursor: pointer;
}
.satelite-1{
    display: flex;
    gap: 30px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 20px;
    padding: 40px 50px;
    align-items: center;
    margin-bottom: 80px;
}
.satelite-1 img{
    border-radius: 20px;
}
/* donate section styles */
.donate{
    text-align: center;
    margin-bottom: 80px;
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
}
.taka{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.taka h2{
    box-shadow: 2px 2px 2px 2px gray;
    padding: 40px;
    border-radius: 15px;
    border: none;
    font-size: 40px;
    font-weight: bold;
    
}
#different{
    background-color: rgba(198, 228, 214, 1);
}
.donate input{
    padding: 20px 400px;
    border: none;
    color: black;
    box-shadow: 2px 2px 2px 2px gray;
    margin-bottom: 30px;
}
/* newspaper section styles */
.newspaper{
    align-items: center;
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 20px;
    margin-bottom: 80px;
    padding: 80px 300px;
}
.newspaper-title{
    font-size: 40px;
    font-weight: bold;
}
.newspaper-description{
    color: rgba(14, 14, 14, 0.7);
}
.newspaper input{
    border: none;
    padding-left: 15px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.newspaper p{
    color: rgba(14, 14, 14, 0.7);
}
/* footer styles */
footer{
    text-align: center;
    margin-bottom: 50px;
}
.img-contant img{
    margin-left: 20px;
}
.footer h1{
    margin-bottom: 50px;
}